@import 'src/utils';

.formstep__select {
  margin-top: 30px;
  background-color: $lightgrey;
  border-radius: 10px;
  transition: all 0.4s;
  border: 2px solid $lightgrey;

  &._active {
    border-color: $yellow;
  }
}

.formstep__select-title {
  display: flex;
  grid-gap: 15px;
  flex-wrap: wrap;
  color: rgba(30, 30, 30, 0.35);
}

.formstep__select-title-container {
  padding: 17px 28px;
  display: flex;
  column-gap: 17px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &::after {
    content: '';
    width: 12px;
    height: 5px;
    background: center/contain url(~assets/images/accordion.svg) no-repeat;
    transition: all 0.4s;
    flex-shrink: 0;
  }
}

.formstep__select-data {
  display: flex;
  grid-gap: 15px 30px;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: content-box;
}

.formstep__select-item {
  transition: all 0.4s;
  cursor: pointer;
  &._active {
    color: $yellow;
    border-bottom: 1px solid $yellow;
  }
}

// Анимация
.formstep__select._active {
  & .formstep__select-title-container::after {
    transform: rotate(180deg);
  }
}
