@import "src/utils";

.projects__title {
  margin: 100px 0 60px;
  @extend %title;
}

.projects__upper-container {
  display: grid;
  column-gap: 140px;
  grid-template-areas: "a b" "c b";

  & > *:nth-child(1) {
    grid-area: a;
  }
  & > *:nth-child(2) {
    grid-area: b;
  }
  & > *:nth-child(3) {
    grid-area: c;
  }
}

.projects__upper-text-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.projects__upper-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
