@import 'src/utils';

.phrase__tag {
  border-radius: 5px;
  padding: 4px 13px;
  position: relative;
  cursor: default;
  background-color: $lightgrey;
  font-weight: 500;
}

.phrase__tag-close {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 15px;
  height: 15px;
  background: center/contain url('~assets/images/tagclose.svg') no-repeat;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}
