@import "./assets/fonts/fonts";
@import "./utils";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: SF;
  font-weight: 400;
  color: $black;
  background-color: $lightgrey;
}

h1,
h2,
h3,
p {
  margin: 0;
  box-sizing: border-box;
}

div,
header,
section,
img {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  font-size: inherit;
  padding: 0;
  outline: none;
}

[class*="__inner"] {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  column-gap: 15px;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $yellow;
    flex-shrink: 0;
    margin-top: calc((1em - 8px) / 2);
  }
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  padding: 0;
  box-sizing: border-box;
}

label {
  cursor: pointer;
}
