@import 'src/utils';

.textinput {
  outline: $yellow;
  background-color: $lightgrey;
  padding: 14px 28px;
  border: 2px solid $lightgrey;
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s;

  &:focus {
    border: 2px solid $yellow;
  }

  &::placeholder {
    opacity: 0.35;
    color: inherit;
  }
}
