.faq {
  flex-shrink: 0;
  position: relative;
  width: 17px;
  height: 17px;
  background: center/contain url('../../../assets/images/faq.svg') no-repeat;
}

.faq__text {
  font-size: 8px;
  line-height: 10px;
  pointer-events: none;
}
